# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
.env
.venv/

# Virtual env
env/
venv/

# Logs
logs/
*.log

# Data files
data/
*.csv
*.parquet
*.json
*.gz

# Airflow local
airflow/
dags/__pycache__/
plugins/__pycache__/

# Kafka data
deployments/kafka/data/

# Docker volumes
deployments/docker/data/
deployments/docker/logs/

# Credentials
*.env
*.ini
*.cfg
*.key
*.pem
*.json
configs/*.json
configs/*.yaml

# Jupyter
.ipynb_checkpoints/

# Terraform
infra/terraform/.terraform/
*.tfstate
*.tfstate.backup

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db
